<!doctype html>
<html lang="pt-br">

	<head>
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>ProdWeb</title>
	
		<link type="text/css" rel="stylesheet" href="/views/externals/bootstrap/3.3.7/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/views/stylesheets/fonts.css">
		<link type="text/css" rel="stylesheet" href="/views/stylesheets/index.css">
		
		<script type="application/javascript" src="/views/externals/jquery/3.3.1/js/jquery.min.js"></script>
		<script type="application/javascript" src="/views/externals/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
	
	<body class="body">
	
		<div class="container-fluid">
		
			<div class="row">
			
				<h1 class="col-md-12 text-center title">ProdWeb</h1>
				<h4 class="col-md-12 text-center description">Recursos Humanos</h4>
			
			</div>
			
			<div class="row">
				
				<div class="col-md-2 col-md-offset-4 text-center">
					<button class="manager-page-button" onclick="window.location.href='/gerenciadordecargos'">Gerenciador de<br>Cargos</button>
				</div>
				
				<div class="col-md-2 text-center">
					<button class="manager-page-button" onclick="window.location.href='/gerenciadordefuncionarios'">Gerenciador de<br>Funcionários</button>
				</div>
				
			</div>
		
		</div>
	
	</body>

</html>