.row
{
	margin: 0px;
}
.body
{
	background: #222428;
}
.title
{
	font-family: roboto-bold;
	font-size: 60px;
	color: #B8BBC1;
	margin-top: 15px;
}
.title:hover
{
	color: #B8BBC1;
	text-decoration: none;
}
.description
{
	font-family: roboto-light;
	font-size: 20px;
	color: #B8BBC1;
}
.box
{
	background: #45484D;
	margin: 10px;
	border: 2px solid #A9A9A9;
	border-radius: 2px;
	padding: 10px;
}
.box-title
{
	color: #fff;
	font-family: roboto-regular;
}
.box-description
{
	color: #fff;
	font-family: roboto-light;
	font-size: 15px;
	margin-top: 0px;
	margin-left: 18px;
}
.input-help
{
	color: #fff;
	font-family: roboto-regular;
	font-size: 12px;
}
.submit-button
{
	background: #A9A9A9;
	border: 2px solid #959595;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	height: 30px;
	font-family: roboto-regular;
}
.actioner-button
{
	background: #A9A9A9;
	margin: 2px;
	border: 2px solid #959595;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	height: 30px;
	font-family: roboto-regular;
}
.new-worker-form
{
	padding: 0px;
}
.edit-worker-form
{
	padding: 0px;
}
.table-column-title
{
	color: #ffffff;
	font-family: roboto-regular;
	font-size: 14px;
}
.table-row-value
{
	color: #ffffff;
	font-family: roboto-regular;
	font-size: 14px;
}
.workers-table
{
	width: 100%;
	margin-bottom: 15px;
}
.jobs-selector
{
	height: 26px;
	margin-bottom: 20px;
}
.new-worker-console
{
	color: #ffffff;
	font-family: roboto-regular;
	font-size: 14px;
	line-height: 30px;
}
.edit-worker-console
{
	color: #ffffff;
	font-family: roboto-regular;
	font-size: 14px;
	line-height: 30px;
}
.box-bottom
{
	margin-top: 10px;
}

@media screen and (max-width: 700px)
{
	.title
	{
		font-size: 130px;
	}
}
@media screen and (max-width: 600px)
{
	.title
	{
		font-size: 110px;
	}
}
@media screen and (max-width: 500px)
{
	.title
	{
		font-size: 90px;
	}
}
@media screen and (max-width: 450px)
{
	.title
	{
		font-size: 85px;
	}
}